<div class= "container">

    <h1 class= "text">New User</h1>
    
    <div class="card shadow">
        <div class="card-body">
            <%= render partial:'form'%>
        </div>
    </div>

</div>
