<div class= "container">

    <h1 class= "text">New User</h1>

        <div class="card shadow">
            <div class="card-body">
                <%= render partial:'form'%>
            </div>
        </div>

    <%= link_to "Back to Users", users_path, class: "btn btn-info text-white" %>
    
</div>
