<div class= "container">

    <h1 class= "text">Edit Chat</h1>

    <div class="card shadow">
        <div class="card-body">
            <%= render partial:'form'%>
        </div>
    </div>

    <%= link_to "Back to Chats", chats_path, class: "btn btn-info text-white" %>
    
</div>