<div class="container">

    <h1 class="text-center text-dark">Welcome to WhatsNew</h1>
    <p class="text-center">Select a user, chat, or message from the navigation bar.</p>
    <%= link_to "My Inbox", chats_path, class: "nav-link" %>
    <% end %>
</div>

